table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }


.itemT{
    font-size: 16px;
    /* margin: 0px 10px; */
    padding: 10px 10px;
    padding-top: 20px;
    background-color: rgba(169, 129, 184, 0.63);
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 0px;
    /*height: 290px;*/
}

.tableContainer{
    margin-top: 20px;
    padding: 10px, 10px
}

.titleT{
    font-size: 25px;
}
