.boxSP{
    padding-top: 20px;
    height: 200px;
}

.itemSP{
    font-size: 16px;
    background-color: rgba(169, 129, 184, 0.63);
    text-align: left;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 10px 10px;
    height: 200px;
}

.titleSP{
    font-size: 25px;
}

.originalPremiseSP{
    padding-top: 30px;
    margin-top: 20px;
}
