.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
    max-height: fit-content !important;
}

.MuiDataGrid-cell {
    max-height: fit-content !important;
    overflow: auto;
    white-space: initial !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.demo_box_tour_button{
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 1cm;
}

.demo_box_sentencepair {
  position: relative;
  width: 100%;
  text-align: center;
}

.demo_box_polyjuice{
  position: relative;
  width: 100%;
  text-align: center;
}

.demo_box_labeledtable{
  position: relative;
  width: 100%;
  text-align: center;
}

.demo_box_tree_viz{
  position: relative;
  width: 100%;
  text-align: center;
}

.demo_box_table_viz{
  position: relative;
  width: 100%;
  text-align: center;
}



.demo_box_CF{
  position: relative;
  width: 100%;
  text-align: center;
}