.link {
    fill: none;
    stroke: #666;
    stroke-width: 0.5px;
    stroke-length: 1px;
  }

  .node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 0.5px;

  }

  .node text {
  font: 8px sans-serif;
}