@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

.boxS{
    padding-top: 20px;
    margin: 0px 10px;
    /*height: 270px;*/
}

.itemS{
    font-size: 16px;
    background-color: rgba(169, 129, 184, 0.63);

    text-align: left;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 0px;
    padding: 10px 10px;
    /*height: 270px;*/
}

.titleS{
    font-size: 25px;
}

.suggestionS{
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
}

.buttonsS{
    display: flex;
    margin-top: 10px;
}

.buttonS {
    font-family: "Spectral";
    border-radius: 4px;
    background-color: #857d9c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 33%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.buttonS:hover{
    background-color: #655d7c;
}